doctype html
html
    <!--[if IE 8]>
    <html lang="en" class="lt-ie9">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <html lang="en">
    <!--<![endif]-->
    head
        title UX Test
        meta(charset='UTF-8"')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="css/styles.min.css")
    body
        .vip-wrapper(itemscope itemtype="http://schema.org/Product")
            header.bg-great-info
                h1(itemprop="name") Ipad MIni Apple 16 Gb Wifi Led 7.9
            section(id="shortDescription" role="main")
                .product-gallery-container
                    figure#gallery_dflt
                        img(alt="Ipad MIni Apple 16 Gb Wifi Led 7.9" src="images/ipadBig.jpg" title="Ipad MIni Apple 16 Gb Wifi Led 7.9")
                .description-product
                    article.price
                        strong(itemscope itemtype="http://schema.org/Offer")
                        strong(itemprop="price" ) $ 4799
                            sup  99
                    .ch-form-row
                        label(for='select1') Quantity
                        select#select1
                            option(value='-1') 1
                            option(value='1') 2
                            option(value='2') 3
                            option(value='3') 4
                            option(value='4') 5
                    .ch-form-row
                        label(for='select2') Payments
                        select#select2
                            option(value='-1') 1
                            option(value='1') 2
                            option(value='2') 3
                            option(value='3') 4
                            option(value='4') 5
                            option(value='5') 6
                            option(value='6') 7
                            option(value='7') 8
                            option(value='8') 9
                            option(value='9') 10
                            option(value='10') 11
                            option(value='11') 12   
                    input(type="submit", title="Comprar Ipad MIni Apple 16 Gb Wifi Led 7.9", class="ch-btn ch-btn-big", value="Comprar", id="BidButtonTop")
                    p.note MercadoLibre insn't the owner of this product.      
                    .ch-box-lite
                      h3#carousel More products like this
                      .myCarousel.ch-carousel
                        .ch-carousel-prev(role='button')
                        .ch-carousel-mask(role='tabpanel')
                          ul.ch-carousel-list(name="related-gallery-thumbnail")
                            li.ch-carousel-item(aria-hidden='false', aria-setsize='19', aria-posinset='1', aria-label='page1')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='false', aria-setsize='19', aria-posinset='2', aria-label='page1')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='false', aria-setsize='19', aria-posinset='3', aria-label='page1')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='false', aria-setsize='19', aria-posinset='4', aria-label='page1')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='true', aria-setsize='19', aria-posinset='5', aria-label='page2')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='true', aria-setsize='19', aria-posinset='6', aria-label='page2')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='true', aria-setsize='19', aria-posinset='7', aria-label='page2')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                            li.ch-carousel-item(aria-hidden='true', aria-setsize='19', aria-posinset='8', aria-label='page2')
                                figure
                                    a(class="url" href="#")
                                        img(src='images/ipadBig.jpg' alt="Ipad" title="Ipad")
                        .ch-carousel-next(role='button')
            footer
                .tabs(role="tablist")
                    .tab
                        input#tab-1(type='radio', name='tab-group-1', checked='')
                        label(for='tab-1' role="tab") Product description
                        .content
                            #productDescription
                                p Ipad MIni Apple 16 Gb Wifi Led 7.9
                    .tab
                        input#tab-2(type='radio', name='tab-group-1')
                        label(for='tab-2' role="tab") Questions
                        .content
                            ol#Questions.list-questions
                                span#groupQuestion
                                    li#Quest
                                        dl#first.question
                                            dt.title
                                                span Buyer
                                            dd.txt.question-txt
                                                span Do you have this one in white?
                                            dt.answer
                                                span Seller
                                            dd.txt.answer-txt
                                                span No I don't, I only have black.
        script(src="js/script.min.js")   
